

.row{padding: 0%; margin: 0;}


.frm input{width: 70%; padding: 6px 10px;}
.frm input[type="submit"]{width: 16%; margin: 2% 0 0 0;}
.frm label{padding: 15px 0 0 0;}
.frm select{padding: 8px 9px;}

























